@{
    ViewData["Title"] = "Front";
}

<div id="front-home-root"></div>

@section Styles {
    <link rel="stylesheet" href="~/entry/assets/entry-DPPRDQxa.css" />
    <link rel="stylesheet" href="~/entry/assets/src-DxhKVENg.css" />
}

@section Scripts {
    <script type="module" src="~/entry/assets/fronthome-zotO8k3_.js"></script>
}