@{
    ViewData["Title"] = "首頁";
}

<div class="frontpage-react-host">
    <div id="front-home-root"></div>
</div>

@section Styles {
    <link rel="stylesheet" href="~/entry/assets/entry-DPPRDQxa.css" />
    <link rel="stylesheet" href="~/entry/assets/src-DxhKVENg.css" />
}

@section Scripts {
    <script type="module" src="~/entry/assets/fronthome-D2JmZbpP.js"></script>
}