@{
    ViewData["Title"] = "首頁";
}

@section Styles {
    <link rel="stylesheet" href="~/css/diary/diary-common.css" />
    <link rel="stylesheet" href="~/react-home/assets/index.css" />
}

<div id="home-react-root"></div>

<script type="module" src="~/react-home/assets/index.js"></script>