@{
    Layout = "~/Views/Shared/_EntryLayout.cshtml";
    ViewData["Title"] = "Welcome";
}

<div id="root"></div>

@section Styles {
    <link rel="stylesheet" href="~/entry/assets/entry.css" />
    <link rel="stylesheet" href="~/entry/assets/src.css" />
}

@section Scripts {
    <script type="module" src="~/entry/assets/entry.js"></script>
}