@model DiaryProject.ViewModels.Diary.Diary_Detail

<div class="content-panel">
    <div class="diary-title" data-field="DiaryNormal.Title">@Model.Title</div>
    <div class="diary-body" data-field="DiaryNormal.Body">@Model.Body</div>
</div>
